target/
.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
!**/src/main/**/target/
!**/src/test/**/target/

### IDE ###
.idea
*.iws
*.iml
*.ipr
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log
logs/

### Git ###
.git
.gitignore
README.md

### Docker ###
docker-compose*.yml